<%- include("../partials/header.ejs")%>
<div class="container col s2">

    <h1><%= activity.activityName%> in <%= activity.city%></h1>
    <br>
    Description:
    <%= activity.description%>
    Location:
    <%= activity.city%>, <%= activity.country%>

</div>

<%- include("../partials/footer.ejs")%>