<%- include("../partials/header.ejs")%>

<h1>Add an Activity</h1>

    <form action="/trips" method="POST">
        Activity: <br><input type="text" name="activityName" value=""/><br>
        City: <br><input type="text" name="city" value=""/><br>
        Country: <br><input type="text" name="country" value=""/><br>
        Description: <br><input type="text" name="description" value=""/><br>
    <input type="submit" value="Add Activity">
<br>
<br>
    <h3>Available Activities:</h3>
        <ul>
            <% for (let i = 0; i < activities.length; i++) {%>
                <li>
                    <%= activities[i].activityName %> in <%= activities[i].city %>, <%= activities[i].country %>
                    <form action="/trips/activity-details/<%=activities[i]._id%>?_method=DELETE" method="post">
                        <input type="submit" value="Delete <%= activities[i].activityName %>" />
                    </form>
                        

                    <br>
                    <% } %>
                </li>
        </ul>
    

<%- include("../partials/footer.ejs")%>