<%- include("../partials/header.ejs")%>

            <h1>Edit your profile!</h1>

            <form action="/auth/<%=user._id%>?_method=PUT" method="POST">
                <h3>Tell Us About Yourself!</h3>
                    <label>Bio:</label>
                        <textarea type="text" name="bio" value="<%=user.bio%>"></textarea><br/>
                    <label>Change Email:</label>
                        <input type="text" name="email" value="<%=user.email%>"/><br/>
                    <label>Profile Picture:</label>
                        <input type="text" name="profilePic" value="<%=user.profilePic%>"/><br/>
                        <input type="submit" value="Update Profile"/>
            </form>

            <div>
                <button><a href="/auth/<%=user._id%>">Back to Profile</a></button>
            </div>
            

<%- include("../partials/footer.ejs")%>