<%- include("../partials/header.ejs")%>

<h1><%= activity.activityName%> in <%= activity.city%></h1>
<br>
Description:
<%= activity.description%>
Location:
<%= activity.city%>, <%= activity.country%>

<%- include("../partials/footer.ejs")%>