<%- include("../partials/header.ejs")%>

<h1><%= activity.activityName%> in <%= activity.city%></h1>
<br>
Description:
<%= activity.description%>
Location:
<%= activity.activityName%>, <%= activity.city%>

<%- include("../partials/footer.ejs")%>