<%- include("../partials/header.ejs")%>

<div class="parallax-container">
    <div class="parallax"><img src="/images/mountain.jpg" class="header-img"></div>
</div>

<div class="container col s2">

    <h3>Available Activities in <%=city%>:</h3>

    <form action="/trips/create-trip" method="POST">
        <ul>
            <% for (let i = 0; i < activities.length; i++) {%>
                <li>
                    <label class="list-items">
                    <input type="checkbox" name="activity" value='<%= activities[i]._id %>'>
                        <span>
                            <span  class="activity-name">
                                <%= activities[i].activityName %>:
                            </span>
                                <p class="description"><%= activities[i].description %></p>
                        </span>  
                    </label>
                </li>
            <% } %>
        <ul>
        <input class="stylebtn" type="submit" value="Create Your Trip">
    </form>
      
</div>
<%- include("../partials/footer.ejs")%>