<%- include("../partials/header.ejs")%>
<% %>
<div class="container col s2">

    <h3>Available Activities in <%=city%>:</h3>

    <form action="/trips/create-trip" method="POST">
        <ul>
            <% for (let i = 0; i < activities.length; i++) {%>
                <li>
                    <input type="checkbox" name="activity" value='<%= activities[i]._id %>'>

                    <%= activities[i].activityName %> :
                    <%= activities[i].description %>
                </li>
            <% } %>
        <ul>
        <input type="submit" value="Create Your Trip">
    </form>
      
</div>
<%- include("../partials/footer.ejs")%>